{% extends "layout.html" %}
{% block content %}
    <main>
        <div class = "creation-section">
        <h1 class = "creation-title">This is the Create portfolio page</h1>
        <form class = "creation-box">
            <label class = "creation-box-title">Create a Portfolio</label>
            <div class = "creation-box-row">
                <label class = "box-row-left">Name</label>
                <input class = "box-row-right" type="text" name="portfolio-name" placeholder="less than 10 words">
            </div>
            <div class = "creation-box-row">
                <label class = "box-row-left">Cash Amount</label>
                <input class = "box-row-right" type="text" name="cash-amount">
            </div>
            
            <div class = "creation-box-bottom">
                <button type = "button" class = "bottom-cancel">Cancel</button>
                <!-- when connected with backend, use <button></button> instead of <a></a> -->
                <!-- <button action = "/holdings" method = "post" type = "button" class = "bottom-confirm">Confirm</button> -->
                <a class = "bottom-confirm" href = "portfolio.html"> 
                    confirm
                </a>
            </div>
           
        </form>
    </div>
    </main>
    
{% endblock content %}
