{% extends "layout.html" %}
{% block content %}
    <main>
        <div class = "creation-section">
        <h1 class = "creation-title">This is the Create portfolio page</h1>
        <form class = "creation-box" method="post">
            <label class = "creation-box-title">Create a Portfolio</label>
            <div class = "creation-box-row">
                <label class = "box-row-left">Name</label>
                <input class = "box-row-right" type="text" name="portfolio-name" placeholder="less than 10 words" required>
            </div>
            <div class = "creation-box-row">
                <label class = "box-row-left">Cash Amount</label>
                <input class = "box-row-right" type="number" name="cash-amount" step="0.01" placeholder="10000.00">
            </div>
            
            <div class = "creation-box-bottom">
                <button type = "button" class = "bottom-cancel" onclick="window.location.href='{{ url_for('portfolio') }}'">Cancel</button>
                <button type = "submit" class = "bottom-confirm">Confirm</button>
            </div>
           
        </form>
    </div>
    </main>
    
{% endblock content %}
